configs:
  nginx.conf:
    content: |
      user  nginx;
      worker_processes  auto;

      error_log  /var/log/nginx/error.log warn;
      pid        /var/run/nginx.pid;

      events {
          worker_connections  128;
      }

      http {
          include       /etc/nginx/mime.types;
          default_type  application/octet-stream;

          sendfile        on;

          keepalive_timeout  65;

          include /etc/nginx/conf.d/*.conf;
      }
  default.conf:
    content: |
      server {
          listen       80;
          listen  [::]:80;
          server_name  localhost;

          location / {
              root   /usr/share/nginx/html;
              index  index.html index.htm;
              autoindex on;
          }

          error_page   500 502 503 504  /50x.html;
          location = /50x.html {
              root   /usr/share/nginx/html;
          }
      }

services:

  gulp:
    image: node
    command: ["./node_modules/.bin/gulp", "serve"]
    volumes:
    - .:/usr/src/app
    working_dir: /usr/src/app

  web:
    image: nginx:latest
    configs:
    - source: nginx.conf
      target: /etc/nginx/nginx.conf
    - source: default.conf
      target: /etc/nginx/conf.d/default.conf
    volumes:
    - .:/usr/share/nginx/html
    ports:
    - 80:80
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost"]
      interval: 10s
      retries: 3
      start_period: 5s
      timeout: 5s
  
  decktape:
    image: astefanutti/decktape:3
    volumes:
    - .:/slides
    working_dir: /slides
    user: "1000:1000"
    restart: on-failure
    depends_on:
      web:
        condition: service_healthy

  md2pdf:
    image: jmaupetit/md2pdf
    volumes:
    - .:/app
    working_dir: /app
    user: "1000:1000"
    restart: on-failure
