version: "3.3"
services:
  pod:
    image: alpine:3.23.0
    command: [ "sh", "-c", "while true; do sleep 5; done" ]
  dind:
    image: docker:27.3.1-dind
    command: [ "dockerd", "--host", "tcp://127.0.0.1:2375" ]
    privileged: true
    network_mode: service:pod
  registry:
    image: registry:2.8.3
    network_mode: service:pod