workflow:
  rules:
  - if: $CI_DEPLOY_FREEZE
    when: never
  - if: $CI_PIPELINE_SOURCE == 'push'
  - if: $CI_PIPELINE_SOURCE == 'web'
  - if: $CI_PIPELINE_SOURCE == 'schedule'
  - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  - if: $CI_PIPELINE_SOURCE == 'pipeline'
  - if: $CI_PIPELINE_SOURCE == 'api'
    when: never
  - if: $CI_PIPELINE_SOURCE == 'trigger'
    when: never
  
include:
- template: Security/Secret-Detection.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml
- template: Security/Container-Scanning.gitlab-ci.yml
- component: $CI_SERVER_FQDN/$CI_PROJECT_PATH/go@$CI_COMMIT_SHA
  inputs:
    binary-name: hello
    author: ${AUTHOR}
    version: ${CI_COMMIT_REF_NAME}
    image: golang:1.25.4
    needs:
    - lint
    - audit
    rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    name-prefix: hello

container_scanning:
  needs:
  - package
  variables:
    CS_DEFAULT_BRANCH_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}
    CI_APPLICATION_REPOSITORY: ${CI_REGISTRY_IMAGE}
    CI_APPLICATION_TAG: ${CI_COMMIT_REF_NAME}

.run-on-push-to-default-branch:
  rules:
  - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'

.run-on-push-and-in-mr:
  rules:
  - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
  - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

default:
  image: golang:1.25.5

renovate:
  rules:
  - if: '$CI_PIPELINE_SOURCE == "schedule" && $RENOVATE'
  image: renovate/renovate
  variables:
    LOG_LEVEL: debug
  script: |
    renovate --platform gitlab \
        --endpoint ${CI_API_V4_URL} \
        --token ${RENOVATE_TOKEN} \
        ${CI_PROJECT_PATH}

lint:
  extends:
  - .run-on-push-and-in-mr
  script:
  - go fmt .

audit:
  extends:
  - .run-on-push-and-in-mr
  script:
  - go vet .

deploy:
  needs:
  - hello-build-go
  - hello-unit-tests-go
  rules:
  - if: '$CI_COMMIT_REF_NAME == "dev" || $CI_COMMIT_REF_NAME == "live"'
  environment:
    name: ${CI_COMMIT_REF_NAME}
  image: curlimages/curl:8.17.0
  script:
  - |
    curl https://seat${SEAT_INDEX}.${CI_COMMIT_REF_NAME}.webdav.inmylab.de/ \
        --fail \
        --verbose \
        --upload-file hello-linux-amd64 \
        --user seat${SEAT_INDEX}:${PASS}

pages:
  needs:
  - hello-build-go
  - hello-unit-tests-go
  extends:
  - .run-on-push-to-default-branch
  image: registry.gitlab.com/gitlab-org/cli:v1.86.0
  release:
    tag_name: ${CI_PIPELINE_IID}
    name: Release ${CI_PIPELINE_IID}
    description: |
      Some multi
      line text
    ref: ${CI_COMMIT_SHA}
  script:
  - cp hello-linux-amd64 public/hello
  artifacts:
    paths:
    - public

package:
  needs:
  - hello-build-go
  - hello-unit-tests-go
  image: docker:29.1.2
  extends:
  - .run-on-push-to-default-branch
  services:
  - name: docker:29.1.2-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  run:
  - name: docker_wait
    script: |
      while ! docker version; do
          echo "Waiting for Docker..."
          sleep 2
      done
  - name: docker_login
    step: ./steps/docker/login/step.yml
    inputs:
      registry: ${{ job.CI_REGISTRY }}
      username: ${{ job.CI_REGISTRY_USER }}
      password: ${{ job.CI_REGISTRY_PASSWORD }}
  - name: docker_build
    step: ./steps/docker/build/step.yml
    inputs:
      context: .
      image: ${{ job.CI_REGISTRY_IMAGE }}:${{ job.CI_COMMIT_REF_NAME }}
  - name: docker_push
    step: ./steps/docker/push/step.yml
    inputs:
      image: ${{ job.CI_REGISTRY_IMAGE }}:${{ job.CI_COMMIT_REF_NAME }}
  - name: docker_logout
    step: ./steps/docker/logout/step.yml
    inputs:
      registry: ${{ job.CI_REGISTRY }}

trigger:
  extends:
  - .run-on-push-to-default-branch
  trigger:
    include: child.yaml
