include:
- local: go.yaml

default:
  image: golang:1.25.3

lint:
  script:
  - go fmt .

audit:
  script:
  - go vet .

unit_tests:
  extends:
  - .unit-tests-go

build:
  needs:
  - lint
  - audit
  - unit_tests
  extends:
  - .build-go
  variables:
    version: $CI_COMMIT_REF_NAME

test:
  needs:
  - build
  image: alpine
  script:
  - ./hello

deploy:
  needs:
  - build
  - unit_tests
  environment:
    name: ${CI_COMMIT_REF_NAME}
  image: curlimages/curl:8.17.0
  script:
  - |
    curl https://seat${SEAT_INDEX}.${CI_COMMIT_REF_NAME}.webdav.inmylab.de/ \
        --fail \
        --verbose \
        --upload-file hello \
        --user seat${SEAT_INDEX}:${PASS}

trigger:
  trigger:
    include: child.yaml
