apiVersion: apps/v1
kind: Deployment
metadata:
  name: watch
spec:
  selector:
    matchLabels:
      app: watch
  template:
    metadata:
      labels:
        app: watch
    spec:
      terminationGracePeriodSeconds: 5
      containers:
      - name: watch
        image: nginx:alpine
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
