html.dimbg75 .slide-background {
    opacity: 0.75 !important;
}

.center-image {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.layout-double {
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.external-link::after {
    font-family: FontAwesome;
    content: " \f08e"
}