html.dimbg75 .slide-background {
    opacity: 0.75 !important;
}

.center-image {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.layout-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.external-link::after {
    font-family: FontAwesome;
    content: " \f08e"
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50%;
    padding: 5px 0.5em;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 125%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.ul-to-blocks2 {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
    list-style-type: none !important;
    text-align: center !important;
}

.ul-to-blocks3 {
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
    list-style-type: none !important;
    text-align: center !important;
}

.ul-to-blocks4 {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
    list-style-type: none !important;
    text-align: center !important;
}