/* GLOBAL */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background-color: rgb(20, 21, 47);
    background: url("../images/DockerCon-Template-Background-Title.png");
    background-size: 100%;
}
.reveal {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: rgb(250, 250, 250);
}

/* HEADINGS */
.reveal h1 {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #01c4b2;
    text-transform: none;
}
.reveal h2 {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: rgb(1, 124, 255);
    text-transform: none;
}
.reveal h3 {
    color: rgb(1, 124, 255);
}

/* LINKS */
.reveal a {
    color: rgb(1, 124, 255);
}
.reveal a:hover {
    color: rgb(1, 124, 255);
}
.reveal .roll span:after {
    color: #fff;
    background: #068de9;
}

/* SELECTION */
::selection,
::-moz-selection {
    color: rgb(20, 21, 47);
    background: rgb(1, 124, 255);
}
code::selection,
code::-moz-selection {
    background: #dcdcdc;
}
