/* GLOBAL */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
body {
    background: #191919;
    background-color: #191919;
}
.reveal {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #fff;
    font-size: 3em;
    font-weight: normal;
}
.reveal section {
    text-align: left;
}

/* HEADINGS */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}
.reveal h1 {
    font-size: 1.6em;
}
.reveal h2 {
    font-size: 1em;
}
.reveal h3 {
    color: #6a9fb5;
    font-size: 0.8em;
    padding-top: 0.5em;
    margin-bottom: 0.2em;
}
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

/* TEXT AND LISTS */
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}
.reveal strong,
.reveal b {
    font-weight: bold;
}
.reveal em {
    font-style: italic;
}
.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}
.reveal ol {
    list-style-type: decimal;
}
.reveal ul {
    list-style-type: disc;
}
.reveal ul ul {
    list-style-type: square;
}
.reveal ul ul ul {
    list-style-type: circle;
}
.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}
.reveal p,
.reveal div,
.reveal span,
.reveal li,
.reveal ul,
.reveal ol,
.reveal ul ul {
    font-size: 0.8em;
}
.reveal section code {
    font-size: 1em;
}
.two_column_list ul,
.two_column_list ol {
    width: 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.reveal sup {
    vertical-align: super;
    font-size: smaller;
}
.reveal sub {
    vertical-align: sub;
    font-size: smaller;
}
.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}
.reveal small * {
    vertical-align: top;
}

/* IMAGES */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}
.reveal img {
    border: none;
    background: none;
    box-shadow: none;
}

/* LINKS */
.reveal a {
    color: #6a9fb5;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}
.reveal a:hover {
    color: #7cbad4;
    text-shadow: none;
    border: none;
}
.reveal .roll span:after {
    color: #fff;
    background: #068de9;
}

/* SELECTION */
::selection,
::-moz-selection {
    color: white;
    background: #6a9fb5;
    text-shadow: none;
}

code::selection,
code::-moz-selection {
    color: #3f3f3f;
    background: #dcdcdc
}

/* FORMATTING */
.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}
.reveal q {
    font-style: italic;
}
.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.reveal code {
    font-family: monospace;
    text-transform: none;
}
.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

/* TABLES */
.reveal dt {
    font-weight: bold;
}
.reveal dd {
    margin-left: 40px;
}
.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.reveal table th {
    font-weight: bold;
}
.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}
.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}
.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}
.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

/* CONTROLS */
.reveal .controls {
    color: #42affa;
}
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: #42affa;
}
.reveal .progress span {
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
@media print {
    .backgrounds {
        background-color: #191919;
    }
}
