:root {
    --r-background-color: #191919;
    --r-main-font: Source Sans Pro, Helvetica, sans-serif;
    --r-main-font-size: 42px;
    --r-main-color: #fff;
    --r-block-margin: 0.3em;
    --r-heading-margin: 0.5em 0 0 0;
    --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
    --r-heading-color: #7cbad4;
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: uppercase;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 600;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 2.5em;
    --r-heading2-size: 1.6em;
    --r-heading3-size: 1.3em;
    --r-heading4-size: 1em;
    --r-code-font: monospace;
    --r-link-color: #7cbad4;
    --r-link-color-dark: #7cbad4;
    --r-link-color-hover: #7cbad4;
    --r-selection-background-color: #dcdcdc;
    --r-selection-color: black;
}

.reveal .slides {
    text-align: left;
}

.reveal img {
    margin: 0;
}

.reveal pre {
    font-size: 0.7em;
}

.reveal pre code {
    margin-bottom: 1.5em;
}

.reveal h3,
.reveal h4 {
    text-transform: none;
}

.reveal h4 {
    font-style: italic;
}

.reveal ul {
    list-style-type: circle;
}

.reveal ul.fa-ul {
    list-style-type: none;
    line-height: 200%;
}

.reveal .fa-li {
    left: calc(var(--fa-li-width, 1em)*-1);
}

.reveal .fa-ul > li {
    padding-left: 1em;
}

.fa-duotone-colors {
    --fa-primary-color: var(--r-heading-color);
    --fa-secondary-color: grey;
    --fa-secondary-opacity: 1.0;
}

.fa-duotone-colors-inverted {
    --fa-primary-color: grey;
    --fa-secondary-color: var(--r-heading-color);
    --fa-secondary-opacity: 1.0;
}

.reveal a:empty::after {
    font: var(--fa-font-solid);
    content: "\f08e";
}