@font-face {
    font-family: 'Cascadia Mono';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/CascadiaMono.ttf) format('truetype');
}

@font-face {
    font-family: 'Cascadia Mono Italic';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/CascadiaMonoItalic.ttf) format('truetype');
}

:root {
    --r-main-font: Source Sans Pro;
    --r-heading-font: Source Sans Pro;
    --r-code-font: 'Cascadia Mono';

    --r-main-font-size: 2.5em;
    --r-heading1-size: 2em;
    --r-heading2-size: 1.8em;
    --r-heading3-size: 1.3em;
    --r-heading4-size: 1em;

    --r-main-color: #fff;
    --r-heading-color: #7cbad4;
    --r-background-color: #191919;
    --r-link-color: #7cbad4;
    --r-link-color-dark: #7cbad4;
    --r-link-color-hover: #7cbad4;
    --r-selection-background-color: #dcdcdc;
    --r-selection-color: black;

    --r-block-margin: 0.3em;
    --r-heading-margin: 0.5em 0 0 0;

    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: uppercase;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 600;
    --r-heading1-text-shadow: none;

    /*--fa-style-family: var(--fa-style-family-classic);
    --fa-style: 900;*/
}

.reveal .slides {
    text-align: left;
}

.reveal img {
    margin: 0;
}

.reveal pre {
    font-size: 0.7em;
}

.reveal pre code {
    margin-bottom: 1.5em;
}

.reveal h3,
.reveal h4 {
    text-transform: none;
}

.reveal h4 {
    font-style: italic;
}

.reveal mark {
  font-weight: bold;
  background-color: darkgrey;
  border-radius: 8px;
  color: black;
}

.reveal ul {
    list-style-type: circle;
}

.reveal ul.fa-ul {
    list-style-type: none;
    line-height: 200%;
}

.reveal .fa-li {
    left: calc(var(--fa-li-width, 1em)*-1);
}

.reveal .fa-ul > li {
    padding-left: 1em;
}

.fa-duotone-colors {
    --fa-primary-color: var(--r-heading-color);
    --fa-secondary-color: grey;
    --fa-secondary-opacity: 1.0;
}

.fa-duotone-colors-inverted {
    --fa-primary-color: grey;
    --fa-secondary-color: var(--r-heading-color);
    --fa-secondary-opacity: 1.0;
}

.reveal a:empty::after {
    font: var(--fa-font-solid);
    content: "\f08e";
}

.reveal .hljs {
    max-height: 30em;
}

.reveal table td {
    font-size: 0.9em;
}

.notyf-toast-success {
    font-family: var(--r-code-font);
}