workflow:
  rules:
  - if: $CI_DEPLOY_FREEZE
    when: never
  - if: $CI_PIPELINE_SOURCE == 'push'
  - if: $CI_PIPELINE_SOURCE == 'web'
  - if: $CI_PIPELINE_SOURCE == 'schedule'
  - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  - if: $CI_PIPELINE_SOURCE == 'pipeline'
  - if: $CI_PIPELINE_SOURCE == 'api'
    when: never
  - if: $CI_PIPELINE_SOURCE == 'trigger'
    when: never
  
include:
- local: go.yaml

.run-on-push-to-default-branch:
  rules:
  - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'

.run-on-push-and-in-mr:
  rules:
  - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
  - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

default:
  image: golang:1.26.0

lint:
  extends:
  - .run-on-push-and-in-mr
  script:
  - go fmt .

audit:
  extends:
  - .run-on-push-and-in-mr
  script:
  - go vet .

unit_tests:
  extends:
  - .run-on-push-and-in-mr
  - .unit-tests-go

build:
  needs:
  - lint
  - audit
  - unit_tests
  extends:
  - .run-on-push-and-in-mr
  - .build-go
  variables:
    version: $CI_COMMIT_REF_NAME

test:
  needs:
  - build
  extends:
  - .run-on-push-and-in-mr
  image: alpine
  script:
  - ./hello

deploy:
  needs:
  - build
  - unit_tests
  rules:
  - if: '$CI_COMMIT_REF_NAME == "dev" || $CI_COMMIT_REF_NAME == "live"'
  environment:
    name: ${CI_COMMIT_REF_NAME}
  image: curlimages/curl:8.17.0
  script:
  - |
    curl https://seat${SEAT_INDEX}.${CI_COMMIT_REF_NAME}.webdav.inmylab.de/ \
        --fail \
        --verbose \
        --upload-file hello \
        --user seat${SEAT_INDEX}:${PASS}

pages:
  needs:
  - build
  - unit_tests
  extends:
  - .run-on-push-to-default-branch
  image: alpine
  script:
  - cp hello public/hello
  artifacts:
    paths:
    - public

trigger:
  extends:
  - .run-on-push-to-default-branch
  trigger:
    include: child.yaml
