# https://docs.docker.com/compose/compose-file

configs:
  config.toml:
    content: |
      concurrent = 10
      [[runners]]
        url = "http://gitlab.inmylab.de"
        token = "${CI_SERVER_TOKEN}"
        executor = "docker"
        [runners.docker]
          image = "alpine"
          privileged = true

services:

  runner:
    image: gitlab/gitlab-runner:v18.6.3
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /var/run/docker.sock:/var/run/docker.sock:rw
    configs:
    - source: config.toml
      target: /etc/gitlab-runner/config.toml
    command:
    - run
    restart: always
